nav#menu {
    padding: 75px 0px 50px 50px;
}

nav#menu a {
    font-family: Arial, Helvitica, sans-serif;
    font-size: 17px;
    background: #ff5c5c;
    padding: 15px 20px;
    color: white;
    margin-right: 12px;
    text-decoration: none;
    border-radius: 3px;
    transition: background 0.5s linear 0s, color 0.3s linear 0s;
}

nav#menu > a:hover {
    background: grey;
    color: #FFF;
}